.form-fieldset {
  margin-bottom: 40px;
}

.fieldset-title {
  background-color: $primaryColor;
  width: 100%;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding: 23px 40px;
  margin: 0 0 25px;
  @include xs {
    font-size: 18px;
    padding: 0 30px;
    height: 55px;
    display: flex;
    align-items: center;
  }
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 21px;
  @include sm {
    grid-template-columns: 1fr;
  }
  .full-w {
    grid-column: 1/-1;
  }
  .form-group {
    margin-bottom: 0;
  }
}

.form-group {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

.form-label {
  font-size: 18px;
  font-weight: 600;
  color: $textColor;
  display: block;
  padding-inline-start: 28px;
  .required &,
  .form-group:has([required]) & {
    &::after {
      content: "*";
      color: #f00;
    }
  }
  small {
    font-size: 100%;
    font-weight: 400;
  }

  @include xs {
    font-size: 16px;
    padding-inline-start: 15px;
  }
}

.form-control {
  width: 100%;
  background-color: #f7f7f7;
  border: 2px solid #f7f7f7;
  height: 60px;
  border-radius: 30px;
  padding: 0 28px;
  text-align: right;
  color: $textColor;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  @include ltr {
    text-align: left;
  }
  &::placeholder {
    color: #808080;
    font-weight: 400;
  }
  &:focus {
    background-color: #f7f7f7;
    border-color: $primaryColor;
    outline: none;
    box-shadow: none;
  }
  &:is(textarea) {
    height: 100px;
    resize: none;
    padding-block: 20px 15px;
  }
}

.radios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 60px;
  align-items: center;
  .full-w & {
    grid-template-columns: repeat(4, 1fr);
  }
}
.radio {
  padding-inline-start: 28px;
  @include xs {
    padding-inline-start: 15px;
  }
  label {
    width: fit-content;
    cursor: pointer;
  }
  .radio-content {
    display: flex;
    align-items: start;
    gap: 15px;
  }
  .mark {
    border-radius: 50%;
    background-color: #f2f2f2;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
      content: "";
      width: 14px;
      height: 14px;
      background-color: $oddColor;
      border-radius: 50%;
      transform: scale(0);
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
  }
  .text {
    font-size: 16px;
    color: $textColor;
    line-height: 1.5625rem;
  }
  input {
    display: none;
    &:checked {
      ~ .radio-content {
        .mark {
          &::after {
            visibility: visible;
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }
  }
}
.submit-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: 121px;
  padding: 0 25px;
  height: 60px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background-color: $primaryColor;
  margin-inline-start: auto;
  transition: all 0.3s ease-in-out;
  &:focus {
    color: #fff;
  }
  &:hover {
    color: #000;
    background-color: $secondaryColor;
  }
  @include xs {
    width: 100%;
  }
}
