.tabs-responsive {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  padding: 0 10px 25px;
  margin: 0 0 25px;
  @include xs{
    padding: 0 5px 15px;
    margin: 0 0 15px;
  }
}

.custom-nav-tabs {
  display: flex;
  align-items: center;
  justify-content: start;
  width: fit-content;
  flex-wrap: nowrap;
  margin: 0 auto;
  gap: 10px;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: 50px;
    border-radius: 25px;
    background-color: #f7f7f7;
    border: 2px solid #f7f7f7;
    color: $textColor;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    &.active {
      border-color: $primaryColor;
    }
  }
}
