.franchise-form {
  width: 100%;
  max-width: 945px;
  margin: 0 auto;
  .form-grid {
    width: 100%;
    max-width: 865px;
    margin: 0 auto;
  }
  .submit-btn {
    padding: 0 40px;
    margin: 0 auto;
  }
  @include sm {
    max-width: 550px;
    .form-grid {
      max-width: 470px;
    }
  }
}
